<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <title>Latest Stories</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

    <style type="text/css">
    body {
            background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background-size: 400% 400%;
            animation: gradient 15s ease infinite;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
        body { padding-top: 35px; }
        .jumbotron {
            color: #2c3e50;
            background: lightgray;
            padding: 2rem;
        }
        .jumbotron span{
            font-size: 4rem;
        }
        .navbar-inverse {
          background: #2c3e50;
          color: white;
        }
        .navbar-inverse .navbar-brand, .navbar-inverse a{
          color:white;
        }
        .navbar-inverse .navbar-nav>li>a {
          color: white;
        }
        .thumbnail img {
            width: 100%;
        }
    
        .thumbnail {
            box-shadow: 0 0 23px white;
        }
        .zoom {
              transition: transform .5s;
        }
        .zoom:hover{
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.1); /* Safari 3-8 */
            transform: scale(1.2); 
        }

        .team-area{
            padding: 60px 0;
        }
        .section-heading{
            text-align: center;
            color: #fff;
            margin-bottom: 50px;
            text-transform: uppercase;
            font-size: 65px;
            font-family: bignoodletitling;
            letter-spacing: 5px;
        }
        .card{
            border: none;
            background:#fff;
        }
        .team-single:active .side-two{
            transform: rotateY(0deg);
            border-radius: 5px;
        }
        .team-single:active .side-one{
            transform: rotateY(180deg);
        }
        .content-area{
            transform:perspective(1000px);
            transition: 1s;
            transform-style: preserve-3d;
            position: relative;
        }
        .side-one{
            position: relative;
            transform: rotateY(0deg);
            z-index: 2;
            margin-bottom: 30px;
        }
        .side-two{
            position: absolute;
            top: 0;
            left: 0;
            background:#fff;
            transform: rotateY(-180deg);
        }
        .side-one,
        .side-two{
            backface-visibility: hidden;
            transition: 1s;
            transform-style: preserve-3d;
        }
        .side-one .card,
        .side-two .card{
            min-height: 312px;
        }
        .side-two .card a{
            font-size: 18px;
            color: brown; 
        }
        h4{
            color: brown;
            font-family:bignoodletitling;
            letter-spacing: 5px;
            font-size: 25px;
        }
        p{
            font-family: merienda;
        }
        .p-4{
            font-size: 3.5rem;
        }
        ::placeholder {
          color: blue;
          font-size: 2rem;
        }
    </style>
</head>

<body>
    <div class="container text-center">
        <!-- <h1>Counter : <span id="counter"></span></h1> -->
        <a class="btn btn-danger" style="float: right; font-size: 2rem; margin-top: 2rem;" href="/logout">Logout</a>
        <h1 class="p-4">Welcome <%= user.username %> </h1>
        <div class="jumbotron">
            <span><i class="fa fa-camera-retro"></i> Latest Stories</span>
            <!-- <p>The students who have achieved success and have done great! :)></p>  -->
        </div>
        <div class="container-fluid" style="background-color: #262626;">
            <section class="team-area">
              <div class="container">
                <!-- <h3 class="section-heading">Team Members</h3> -->
                <div class="row">
                  <!-- First card -->
                  <a href="/story1">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="team-single">
                        <div class="content-area">
            
            
                            <div class="side-one">
                            <div class="card">
                                <div class="card-body text-center">
                                <div class="img-area">
                                    <div class="thumbnail">
                                        <img src="https://img.freepik.com/free-vector/declaration-love_23-2147517078.jpg?size=338&ext=jpg" class="zoom"  alt="Not able to load">
                                    </div>
                                </div>               
                                </div>
                            </div>
                            </div>
            
                            <div class="side-two">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4>Chetan Bhagat</h4>
                                    <p style="color: red;">Author of many famous books</p>
                                    <p>He was born in 22 April 1974 and he is an Indian author and columnist. He was included in Time magazine's list of World's 100 Most Influential People in 2010.</p>
                                    <ul class="list-inline">
            
                                    <li class="list-inline-item">
                                        <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-youtube"></i>
                                        </a>
                                    </li>
            
                                    <li class="list-inline-item">
                                        <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
            
                                    <li class="list-inline-item">
                                        <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
            
                                    <li class="list-inline-item">
                                        <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
            
                                    </ul>
                                </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        </div>
                        
                    </div>
                  </a>
                  <!-- end -->
          
          
          
          
          
                  <!-- Second card -->
                  <a href="/story2">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                      <div class="team-single">
                        <div class="content-area">
            
            
                          <div class="side-one">
                            <div class="card">
                              <div class="card-body text-center">
                                <div class="img-area">
                                    <div class="thumbnail">
                                        <img src="https://media.images.yourquote.in/post/720/0/0/18/575/xrVd6039.webp" class="zoom"  alt="">
                                    </div>
                                </div>               
                              </div>
                            </div>
                          </div>
            
                          <div class="side-two">
                            <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4>Ruskin Bond</h4>
                                  <p style="color: red;">Classical writer</p>
                                  <p>He is an Indian author of British descent. He lives with his adopted family in Landour, Mussoorie, India. The Indian Council for Child Education has recognised his role in the growth of children's literature in India. He was awarded the Sahitya Academy Award in 1992 for Our Trees Still Grow in Dehra, his novel in English. </p>
                                  <ul class="list-inline">
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-youtube"></i>
                                      </a>
                                    </li>
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                      </a>
                                    </li>
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-linkedin"></i>
                                      </a>
                                    </li>
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                      </a>
                                    </li>
            
                                  </ul>
                                </div>
                              </div>
                            </div>
                          
                        </div>
                        
                      </div>
                      
                    </div>
                  </a>
                  <!-- end -->
                  
                  <!-- third card -->
                  <a href="/story3">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                      <div class="team-single">
                        <div class="content-area">
            
            
                          <div class="side-one">
                            <div class="card">
                              <div class="card-body text-center">
                                <div class="img-area">
                                    <div class="thumbnail">
                                        <img src="https://cdn5.vectorstock.com/i/1000x1000/14/84/angel-and-devil-silhouette-vector-651484.jpg" class="zoom"  alt="">
                                    </div>
                                </div>               
                              </div>
                            </div>
                          </div>
            
                          <div class="side-two">
                            <div class="card">
                              <div class="card-body text-center mt-4">
                                <h4>Chetan Bhagat</h4>
                                <p style="color: red;">Author of many famous books</p>
                                <p>He was born in 22 April 1974 and he is an Indian author and columnist. He was included in Time magazine's list of World's 100 Most Influential People in 2010.</p>
                                <ul class="list-inline">
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-youtube"></i>
                                      </a>
                                    </li>
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                      </a>
                                    </li>
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-linkedin"></i>
                                      </a>
                                    </li>
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                      </a>
                                    </li>
            
                                  </ul>
                                </div>
                              </div>
                            </div>
                          
                        </div>
                        
                      </div>
                      
                    </div>
                  </a>
                  <!-- end -->


          
                  <!-- fourth card -->
                  <a href="/story4">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                      <div class="team-single">
                        <div class="content-area">
            
            
                          <div class="side-one">
                            <div class="card">
                              <div class="card-body text-center">
                                <div class="img-area">
                                    <div class="thumbnail">
                                        <img src="https://cdn.pixabay.com/photo/2018/08/03/04/36/love-3581038_960_720.jpg" class="zoom"  alt="">
                                    </div>
                                </div>               
                              </div>
                            </div>
                          </div>
            
                          <div class="side-two">
                            <div class="card">
                              <div class="card-body text-center mt-4">
                                <h4>Ruskin Bond</h4>
                                <p style="color: red;">Classical writer</p>
                                <p>He is an Indian author of British descent. He lives with his adopted family in Landour, Mussoorie, India. The Indian Council for Child Education has recognised his role in the growth of children's literature in India. He was awarded the Sahitya Academy Award in 1992 for Our Trees Still Grow in Dehra, his novel in English. </p>
                                <ul class="list-inline">
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-youtube"></i>
                                      </a>
                                    </li>
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                      </a>
                                    </li>
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-linkedin"></i>
                                      </a>
                                    </li>
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                      </a>
                                    </li>
            
                                  </ul>
                                </div>
                              </div>
                            </div>
                          
                        </div>
                        
                      </div>
                      
                    </div>
                  </a>
                  <!-- end -->
          
          
                  <!-- Fifth card -->
                  <a href="/story5">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                      <div class="team-single">
                        <div class="content-area">
            
            
                          <div class="side-one">
                            <div class="card">
                              <div class="card-body text-center">
                                <div class="img-area">
                                    <div class="thumbnail">
                                        <img src="https://mediad.publicbroadcasting.net/p/shared/npr/styles/x_large/nprshared/202001/175283331.jpg" class="zoom"  alt="">
                                    </div>
                                </div>               
                              </div>
                            </div>
                          </div>
            
                          <div class="side-two">
                            <div class="card">
                              <div class="card-body text-center mt-4">
                                <h4>Chetan Bhagat</h4>
                                <p style="color: red;">Author of many famous books</p>
                                <p>He was born in 22 April 1974 and he is an Indian author and columnist. He was included in Time magazine's list of World's 100 Most Influential People in 2010.</p>
                                <ul class="list-inline">
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-youtube"></i>
                                      </a>
                                    </li>
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                      </a>
                                    </li>
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-linkedin"></i>
                                      </a>
                                    </li>
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                      </a>
                                    </li>
            
                                  </ul>
                                </div>
                              </div>
                            </div>
                          
                        </div>
                        
                      </div>
                      
                    </div>
                  </a>
                  <!-- end -->
          
                  <!-- Sixth card -->
                  <a href="/story6">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                      <div class="team-single">
                        <div class="content-area">
            
            
                          <div class="side-one">
                            <div class="card">
                              <div class="card-body text-center">
                                <div class="img-area">
                                    <div class="thumbnail">
                                        <img src="https://www.hindustantimes.com/rf/image_size_640x362/HT/p2/2016/04/25/Pictures/_7ce679ce-0b02-11e6-9193-d7b8f3a11d8b.jpg" class="zoom"  alt="">
                                    </div>
                                </div>               
                              </div>
                            </div>
                          </div>
            
                          <div class="side-two">
                            <div class="card">
                              <div class="card-body text-center mt-4">
                                <h4>Ruskin Bond</h4>
                                <p style="color: red;">Classical writer</p>
                                <p>He is an Indian author of British descent. He lives with his adopted family in Landour, Mussoorie, India. The Indian Council for Child Education has recognised his role in the growth of children's literature in India. He was awarded the Sahitya Academy Award in 1992 for Our Trees Still Grow in Dehra, his novel in English. </p>
                                <ul class="list-inline">
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-youtube"></i>
                                      </a>
                                    </li>
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                      </a>
                                    </li>
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-linkedin"></i>
                                      </a>
                                    </li>
            
                                    <li class="list-inline-item">
                                      <a href="#" class="social-icon" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                      </a>
                                    </li>
            
                                  </ul>
                                </div>
                              </div>
                            </div>
                          
                        </div>
                        
                      </div>
                      
                    </div>
                  </a>
                  <!-- end -->
                  
                </div>
              </div>
              
            </section>
        </div>
        <div class="container p-3">
            <form action="/addmsg" method="POST">
                <div class="form-group">
                    <textarea class="form-control" name="msg" id="msg" cols="30" rows="3" maxlength="200"
                        placeholder="Type in if you want to add any comment... (200 words)"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-dark" style="font-size: 2rem;" type="submit">Add Message</button>
                </div>
                <div>
                    <% user.messages.forEach(function(msg, index){ %>
                    <h4><%= msg %></h4>
                    <% }) %>
                </div>
            </form>
            <p>
            </p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>